<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.update-covid</string>
	<key>StandardErrorPath</key>
	<string>/Users/balents/Sync/Documents/temp/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/balents/Sync/Documents/temp/stdout.log</string>

	  <key>WorkingDirectory</key>
	  <string>/Users/balents/Sync/Documents/python/covidSB</string>
          <key>ProgramArguments</key>
	  <array>
	    <string>/bin/zsh</string>
	    <string>-l</string>
	    <string>myscript.sh</string>
	  </array>
	<key>StartCalendarInterval</key> 
	<dict> 
   	  <key>Hour</key> 
    	  <integer>18</integer> 
    	  <key>Minute</key> 
    	  <integer>0</integer> 
	</dict>
    </dict>
</plist>
